@page
    <div class="container" style="display: flex; flex-direction: column; height: 100%; " >
        <div id="console" style="width: 100%; height: 100%; background-color: black; flex: 1; padding-top:30px; overflow-y: scroll;">

        </div>
        <div id="inputs" style="width: 100%; flex: 0 1 30px;">
            <input autocomplete="off"  style="width: 100%; height: 100%;" type="text" id="messageInput" placeholder="Type to interact..."/>
        </div>
    </div>
<script src="~/js/signalr.js"></script>
<script src="~/js/game.js"></script>